/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

/* header */

header {
    background-color: #000;
    height: 50px;
    text-align: right;
    padding-top: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header span {
    font-size: 13px;
    background-color: #4a4a4a;
    border-radius: 3px;
    margin: 5px;
    padding: 3px 4px;
}


/* footer */
footer {
    height: 50px;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.flex {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-control.flex {
    width: 10%;
    justify-content: center;
    gap: 10px;
}

.general-control.flex {
    width: 80%;
    justify-content: center;
    gap: 15px;
}

.icon {
    text-align: center;
}

.icon > a, 
.exit, 
i.fa-angle-up {
    font-size: 10px;
}

a > i {
    font-size: 15px;
}

.fa-share-from-square.green {
    color: #4bc800;
}

.exit {
    color: red;
    background-color: #4a4a4a;
    height: 50px;
    line-height: 50px;
    width: 7%;
    text-align: center;
}